@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url('../img/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;

    background-position: 90% -25%;
}

#cta{
    background-image: url('../img/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;

}


@media(max-width:567px){
    body{
        background-position: 150% -3%;
        background-size: 500px;
    }

    #cta{
        background-image: url('../img/bg-simplify-section-mobile.svg');
    }
}

/* Humburger Menu */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all .25s;
    /* position: relative;
    top:0; 
    right:0; */
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    
    top: 20%;
    right: 5%;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all .5s;

}

.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}