header{
    display: grid;
    place-content: center;
    height:100vh;
}

h1{
    font-size: 7rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;

}

.char{
    transform: translateY(115px);
    transition: transform .5s;
}


